input::placeholder {
  font-family: var(--arvo-font);
  color: #c0c0c0;
  font-size: 1.1rem;
}
button {
  outline: none;
}
.header_big {
  height: 45px;
  border-bottom: 1px solid black;

  display: flex;
  padding: 0 10px;
}
.header_logo {
  width: 33.33%;
  height: inherit;
  border-right: 1px solid black;

  display: flex;
  align-items: center;
  padding-left: 10px;
}
.header_logo > img {
  width: 8rem;
}
.header_search {
  font-family: var(--arvo-font);
  width: 33.33%;
  height: inherit;
  border-right: 1px solid black;

  display: flex;
  align-items: center;
}
.header_search_img {
  display: flex;
  align-items: center;
}
.header_search_img > img {
  width: 2rem;
  height: 1.3rem;
}
.input {
  border: none;
  outline: none;

  height: inherit;
  background-color: transparent;

  font-family: var(--arvo-font);
  color: #000;
  font-size: 1.1rem;

  width: 90%;
}
.header_navigation {
  font-family: var(--arvo-font);
  width: 33.33%;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-family: var(--arvo-font);
  font-size: 1rem;
  text-align: center;

  cursor: pointer;
  z-index: 1;

  padding: 0 0;
  margin-right: 10px;
}
.btn_image {
  display: flex;
  align-items: center;
  outline: none;
}
.btn_image > img {
  width: 1rem;
  height: 1rem;
}
.btn_hover {
  position: relative;
  outline: none;
}
.btn_hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #000;
  visibility: hidden;
  border-radius: 1px;
  transform: scaleX(0);
  transition: .25s linear;
  outline: none;
}
.btn_hover:hover:before,
.btn_hover:focus:before {
  visibility: visible;
  transform: scaleX(1);
  outline: none;
}

.header_mobile {
  display: none;
  flex-direction: column;

  height: 45px;
  border-bottom: 1px solid black;
}
.header_mobile_top {
  height: inherit;
  display: flex;
  align-items: center;
}

/* Media */
@media screen and (max-width: 767px) {
  .header_big {
    display: none;
  }
  .header_mobile {
    display: flex;
    width: 100%;
  }
  .header_navigation {
    width: 50%;
    border-right: none;
  }
  .header_logo {
    width: 50%;
    border-right: none;
  }
  .header_search_mobile {
    border-bottom: 1px solid black;
    height: 45px;
    display: flex;
    align-items: center;
  }
  .input {
    width: 93%;
  }
}